@media (max-width: 754px) {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .box-modal {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}